.limiter{
    background-image: url(../images/ship-bg.jpg);
    background-size: 100%;
}
.wrap-login100{
    background-color: rgb(228, 226, 226);
}
.Logo{
    width: 50%;
}
.txt1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
.btn{
    color: '#000';
    margin-left: 0px; 
    padding: 5px 25px 5px 25px;
    background-color: #29335c;
    color: #eee;
}