@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateY(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}


.main-footer {
	bottom: 0px;
	width: 100%;
	background-color: var(--mainColor);
	color: var(--textColor);
}

.container {
	display: flex;
}

.box {
	flex-basis: 50%;
	padding: 10px 20px;
}

.box h2 {
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
}

.box .content {
	margin: 20px 0 0 0;
	position: relative;
}

.box .content:before {
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 100%;
}

.box .content:after {
	position: absolute;
	content: '';
	height: 2px;
	width: 15%;
	background: #e6e3e3;
	top: -10px;
}

.left .content p {
	text-align: justify;
	color: var(--textColor);
}

.center .content .fas {
	font-size: 1.4375rem;
	background: #1a1a1a;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
}

.center .content .fas:hover {
	background: #f12020;
}

.center .content .text {
	font-size: 1.0625rem;
	font-weight: 500;
	padding-left: 10px;
	margin-bottom: 10px;
}

.right .content .phone {
	margin: 15px 0;
}

.right .content .social {
	margin: 20px 0 0 0;

}

.right .content .social a {
	padding: 0 2px;
	margin-left: 25px;
}

.right .content .social a span {
	height: 40px;
	width: 40px;
	background: #eee;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
}

.right .content .social a span:hover {
	background: #f12020;
}

.bottom center {
	padding: 5px;
	font-size: 0.9375rem;
	background: var(--mainColor);
}

.bottom center span {
	color: #eee;
}

.bottom center a {
	color: #f12020;
	text-decoration: none;
}

.bottom center a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 900px) {
	.main-footer {
		position: relative;
		bottom: 0px;
	}

	.container {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.container .box {
		margin: 5px 0;
	}
}