.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-content {
  background-image: url(./images/ship-bg.jpg);
  background-size: 100%;
  width: auto;
  height: 100%;
}


.main-content1{
  background: hsla(217, 61%, 75%, 1);

  background: linear-gradient(90deg, hsla(217, 61%, 75%, 1) 0%, hsla(180, 40%, 98%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(217, 61%, 75%, 1) 0%, hsla(180, 40%, 98%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(217, 61%, 75%, 1) 0%, hsla(180, 40%, 98%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#98B6E6", endColorstr="#F8FCFC", GradientType=1 );
}

.btn {
  width: 250px;
  margin-left: 50px;
  color: #eee;
}
.btn:hover{
  color: #eee;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}